<div class="center">
<!--  Formulario sign in-->
	<h2> Login </h2>
	<%= form_for(:session, url: sessions_path) do |f| %>
		<%= f.label :name, class: "sr-only"%>
		<%= f.text_field :name%>

		<%= f.label :password, class: "sr-only" %>
		<%= f.password_field :password %>

		<%= f.submit "Login",class: "myButton" %>
	<%end%>

</div>